.footer {
    background-color: rgb(251, 249, 245);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 4rem;
    text-align: center;
}

i {
    padding: 0.5rem;
    display: inline-block;
}