/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

nav .active {
    background-color: #04AA6D;
} */

.nav ul {
    list-style-type: none;
    background-color: rgb(63, 59, 59);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline-block;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 1.4rem;
    text-decoration: none;
}

.right-links {
    float: right;
}

.nav li a:hover {
    background-color: rgb(39, 83, 83);
    color: aqua;
}